@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer components {
    .button {
        @apply flex items-center gap-2 rounded-lg px-5 h-10 font-semibold text-gray-700 cursor-pointer hover:bg-sky-100 transition border border-gray-300;
    }
}

@layer base {
    h1 {
        @apply text-5xl font-bold text-gray-700;
    }
    h2 {
        @apply text-lg text-gray-700 font-bold;
    }
    p {
        @apply text-gray-500;
    }
    select {
        @apply border border-gray-300 rounded-md p-1.5
    }
}